* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, #root {
  min-height: 100vh;
  background: rgb(240, 240, 240);
}

:root {
  --color-primary: #003765;
  --color-white: #fff;
  --color-gray: rgb(90, 90, 90);
}


/* HEADINGS */
:is(h1, h2, h3, h4, h5, h6)
{
  margin: 0;
}

/* TEXTS */
.text-color-white {
  color: var(--color-white);
}
.text-color-primary {
  color: var(--color-primary);
}
.text-color-gray {
  color: var(--color-gray);
}

/* LOGO */
.logo-width {
  width: 200px;
  text-align: center;
}
.main-logo {
  height: 45px;
}
.main-logo.inverted {
  filter: invert(100%);
}
.offcanvas-title .main-logo {
  width: 200px;
  height: 50px;
}

/* BREADCRUMBS */
.breadcrumb {
  font-size: 12px;
}

/* NAV LINK */
.offcanvas.show:not(.hiding), .offcanvas.showing {
  background: #003765;
}
.offcanvas-header .btn-close {
  filter: invert(100%);
}
.nav-link {
  padding-left: 15px;
  color: #c0c0c0;
}
.nav-link.active {
  color: #000;
  background: #fff;
} 
.nav-link:hover {
  color: #000;
  background: #bababa;
}

/* COMPONENTS */
.login-container {
  height: 80vh;
  display: grid;
  place-items: center;
}

/* DROPDOWN MENU  */
.navbar > .container-fluid {
  justify-content: initial;
  gap: 10px;
}
.dropdown-menu.show {
  left: -133px;
}
.settings-dropdown {
  margin-left: auto;
  margin-right: 30px;
}

/* NOTIFICATION */
.notification-title-success {
  color: rgb(30, 109, 30);
  background-color: rgb(130, 225, 130);
}
.notification-text-success {
  color: rgb(48, 122, 48);
  background-color: rgb(175, 242, 175);
}
.notification-title-update {
  color: rgb(30, 44, 109);
  background-color: rgb(126, 132, 245);
}
.notification-text-update {
  color: rgb(47, 68, 161);
  background-color: rgb(176, 180, 244);
}
.notification-title-delete {
  color: rgb(219, 56, 56);
  background-color: rgb(240, 160, 160);
}
.notification-text-delete {
  color: rgb(219, 56, 56);
  background-color: rgb(249, 205, 205);
}
.notification-title-info {
  color: rgb(143, 137, 44);
  background-color: rgb(255, 250, 187);
}
.notification-text-info {
  color: rgb(143, 137, 44);
  background-color: rgb(255, 251, 210);
}
.notification-title-download {
  color: rgb(88, 88, 88);
  background-color: rgb(220, 220, 220);
}
.notification-text-download {
  color: rgb(88, 88, 88);
  background-color: rgb(243, 243, 243);
}
.notification-icon {
  font-size: 25px;
  margin-right: 10px;
}

/* CARD LISTS */
.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.card-item {
  flex-basis: 200px;
  border: 1px solid #dfdfdf;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
}
.card-head {
  width: 101%;
  height: 35px;
  background: var(--color-primary);
  display: flex;
}
.row-item {
  display: flex;
  width: 100%;
  align-items: center;
}
.card-body {
  max-width: 100%;
  max-height: 100%;
  background: var(--color-white);
  padding: .5rem 0;
}
.card-body > div {
  height: 30px;
}
.circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
}
.circle.avail {
  background: green;
}
.circle.affected {
  background: yellow;
}
.circle.unavail {
  background: red;
}


/* TABLES */
.table-headings-bg * {
  vertical-align: middle;
  text-align: center;
  padding: 12px !important;
  border: 1px solid #fff;
}
.table-headings-bg th {
  background: #CBE5FB;
}
td.bg-light-blue {
  background: #CBE5FB;
}
td.bg-blue {
  background: #3C92DA;
}
td.bg-yellow {
  background: #E9EB7A;
}
td.bg-red {
  background: #EB6868;
}
.table-td-text-sm {
  font-size: 12px;
}